#dark .card {
  background-color: #888484;
}

.card-title {
  font-family: "Roboto";
  font-size: 18px;
  padding-top: 10px;
  color: black;
  text-align: center;
}

.card-text {
  font-family: "Roboto";
  color: black;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.text-center {
  font-family: "Futura";
  font-size: 30px;
}

#search_bar {
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Lato", sans-serif;
}

#narrow-search {
  text-align: center;
  padding-bottom: 2em;
}

#dark .btn-primary {
  color: white !important;
  font-family: "Lato", sans-serif;
  background-color: #121212;
  transition-duration: 0.5s;
  border-color: transparent;
}

#dark .btn-primary:hover {
  background-color: #D81E05;
}

#light .btn-primary {
  color: white;
  font-family: "Lato", sans-serif;
  transition-duration: 0.5s;
  background-color: gray;
  border-color: transparent;
}

#light .btn-primary:hover {
  background-color: #D81E05;
}

#dark .album {
  background-color: #121212 !important;
}

.checkbox-text {
  font-size: 12px;
  margin-right: 7px;
  vertical-align: middle;
}

#dark .checkbox-text {
  color: white;
}

.black-link {
  color: black !important;
}

h2 a {
  color: black !important;
}

p a {
  color: black !important;
  font-size: 14px;
}

#dark .btn-dark {
  height: 40px;
  color: #121212;
  background: white;
  text-shadow:none !important;
}

.lead {
  font-family: "Lato", sans-serif;
}

#dark .lead {
  color: white;
}

#dark .jumbotron{
  background-color: transparent;
}

.jumbotron-heading {
  font-family: "Lato", sans-serif;
}

#dark .jumbotron-heading {
  color: white;
}

.home-text{
  font-family: "Lato", sans-serif;
  -webkit-text-stroke: 3px black;
}